.card-dashboard   {

    {% comment %} background-color: #FF6B00; {% endcomment %}
    width: 550px;
    height: 550px;
    margin-top: 40px; 
    text-align: center;
    padding: 20px;
    cursor: pointer;
    display:flex;
    {% comment %} align-intems:center; {% endcomment %}

}

.nav-item::marker {
    display: none;
}
.card-dashboardC  {

    {% comment %} background-color: #FF6B00; {% endcomment %}
    width: 550px;
    height: 550px;
    margin-top: 40px; 
    text-align: center;
    padding: 20px;
    cursor: pointer;
    display:flex;
    {% comment %} align-intems:center; {% endcomment %}

}

.card-dashboardP  {

    
    width: 550px;
    height: 550px;
    margin-top: 40px; 
    text-align: center;
    padding: 20px;
    cursor: pointer;
    display:flex;
    

}

.inputsP{
    display:flex;
    flex-direction: column;
    width: 350px;
    align-items:center;
    border: solid #76BDFF 4px;
    height: 55px;
    padding-left:5px;
   
}

.boxL{
    
    margin-left: 550px;





}

.navPrincipal {
    display: grid;
    grid-template-columns: 100px 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    margin-top:px;
    background-color: white;
    border-bottom: solid black 1px;
    border-top: solid black 1px;
}

.boxUsers {
    display: flex;
    justify-content: row;
    margin-top: 15px;
    gap: 5px;
}

.box-usuario {
        position: relative;
        display: inline-block;
        list-style: none;
        
      }

      
.box-usuario:focus {
    outline: none;
  }

.botao-usuario:focus {
        outline: none;
      }

.container{

    margin-top: 55px;
    margin-left: 35px;
    background-color: #a1b1dd;
    border: solid black 1px;
    border-radius: 10px;
    height:550px;
}

.InfosUser{
    
    font-size: 35px;
}

.InfoUsertext{

    margin-bottom: 0px;
    font-weight:500;

}

.boxCamposUsers{

    margin-top: 20px;
    
    width: 900px;


}

.bodyHome{

    background-color:#eceff8 ;



}
.boxinputsUser{

    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin-bottom:15px;
    grid-column-gap: 75px;
    grid-row-gap: 18px;

}
.BoxbodyHome {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    justify-content:center;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(32, 530px);
}



.bodyHome {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    max-width:350px;
    max-height:500px;
    border: solid black 1px;
}


.BoxbodyHomeDetalhesCasa {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    justify-content:center;
    display: grid;
    grid-template-columns: repeat(1, 600px);
    grid-template-rows: repeat(32, 700px);
}



.bodyHomeDetalhesCasa{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 500px;
    max-height: 680px;
    border: solid black 1px;
}



.formselectHome{
    max-width: 250px;
    display: inline-block !important;  
}


.BoxbodyHomeCasasUsuario {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    justify-content:center;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(32, 730px);
}








.bodyMinhasCasas {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    max-width:350px;
    max-height:600px;
    border: solid black 1px;
}
.bodyHome a{

 display:flex;
 justify-content:center;
 
    
 

}

.detalhes{

    margin-top:35px;
    


}

.detalhes button{

        background-color: #ffa665;
        border-radius: 10px;
        padding: 5px;

}

.detalhesExlcuircasa{

    margin-top:35px;

}

.detalhesExlcuircasa button{

        background-color: #fa4747;
        border-radius: 10px;
        padding: 5px;

}

#dropdownMenu{

background-color:#ffa665;
margin-top:10px;
font-weight: 700;

   
}

.dropUser {
    
    overflow: hidden;
    transition: 2s; /* Adiciona uma transição de 0.3 segundos com uma curva de aceleração ease */
}

#dropdownMenu a{
    font-weight: 600;
}

.imagemCasaUser{
    width: 330px;
    height:300px;
    max-height:300px;
    max-width: 330px;
    object-fit: cover;
    border-radius: 12px;
}

.imagemCasaUserDetalhes{
    width: 430px;
    height:300px;
    max-height:300px;
    max-width: 490px;
    object-fit: cover;
    border-radius: 12px;
}

.bodyHome p {
    margin: 10px;
}





.TitulocasaCadCasa{

    display:flex;
    margin-left:350px;
    width: 350px;
    font-size: 30px;
    font-weight:500;
    


}
.boxinputsCadCasa{

    whidth:550px;
    max-width: 550px;
    display:flex;
    flex-wrap: column;
    display:block;

}

.buttons{
    display:flex;
    justify-content:row;
    gap:35px;
    margin-top: 24px;
}



.buttonsUersDelet {
    float: inline-start;
    background-color: #e35b4f;
    border: solid 1px black;
    border-radius: 14px;
    height: 35px;
    width: 150px;
}

.form-container{

    
    display: flex;
    justify-content: space-between; /* Ajuste conforme necessário para a separação desejada entre os botões */
    align-items: center; 

}

.buttonsUersUpdate{
    background-color:#90ee90;
    border: solid 1px black;
    border-radius: 14px;
    height: 35px;
    width: 150px; 
    
}



.inputsUser{
    max-width: 450px;
    width:250px;
    border: solid 1px black;
    border-radius: 14px;
    padding-left:5px;
    height: 55px;

}

.boxinputsCasa{
    
    width: 90px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-column-gap: 100px;
    grid-row-gap: 1em;
    margin-left: 90px;
    margin-top:50px;
    
}
.formCadCasa{
    

}
.inputsCadCasaimg{
    width:848px;
    height: 200px;
    background: none;
    border: solid 1px black;
    border-radius: 10px;
    
}

.buttonCadcasa{

    background-color:#90ee90;
    border: solid 1px black;
    border-radius: 14px;
    height: 35px;
    width: 150px; 
    margin-left: 450px;
    margin-top: 10px;
}

.inputsCadCasa{
    
   
    width:250px;
    border: solid 1px black;
    border-radius: 10px;
    height: 55px;

}

.InfoUsertextEmail{

    font-size: 20px;
    
}

.IconeLogin{

    margin-top: 3px;
    margin-left: px
    
   

}

.boxbutton{
    {% comment %} display: flex;
    gap: 10px; {% endcomment %}
}

.boxNameUser {
    border: solid black 2px;
    border-radius: 28px;
    margin-right: 133px;
    margin-top: 3px;
    margin-bottom: 8px;
    padding-top: 9.5px;
    font-weight:500;
    font-size: 17px;
    width: 130px;
    height: 40px;
}

.NameUser {
    margin-right: 22px;
    margin-top: 10px;
    padding-left: 8px;
}




.botao-usuario{
    border:none;
    background:none;
    

}

.a nav-link{

    whidth: 50px;
}

.LogoPrincipal {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-top: 9px;
    width: 80px;
    height: 60px;
}
  
  .box-usuario {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 8px;
    z-index: 1;
  }
  
  .box-usuario.active .dropdown-menu {
    display: block;
  }
  .box-usuario ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
  .dropdown-item {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
  } 

.bodyPlataforma{

    display:flex;
    flex-direction: column;
    background-color: #eceff8;;
    

}

.bodyHomePage{
    background-color: #eceff8;
}


bodyC{
    display:flex;
    justify-content:center;
    
}
.form{

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}

.inputs{
    display:flex;
    flex-direction: column;
    width: 350px;
    margin-top: 15px; 
    margin-bottom:30px;
    align-items:center;
    border: solid #76BDFF 4px;
    height: 55px;
    padding-left:5px;
    
    
}

.inputsC{
    display:flex;
    flex-direction: column;
    width: 350px;
    align-items:center;
    border: solid #76BDFF 4px;
    height: 55px;
    padding-left:5px;
   
}



.button{
    display:flex;
    justify-content:center;
    margin-top: 25px; 
    width:  350px;
    height: 35px;
    border: solid black 1px;
    border-radius: 15px;
    background-color: #FF6B00;
    font-weight: 700;
    font-size: 15px;
    color: black;
    align-items:center;
    text-decoration: none;

}

a{
    text-decoration: none;
}

.buttonC{
    display:flex;
    justify-content:center;
    margin-top: 40px; 
    width:  350px;
    height: 45px;
    border: solid black 1px;
    border-radius: 15px;
    background-color: #FF6B00;
    font-weight: 700;
    font-size: 15px;
    color: black;
    align-items:center;
    

}

input::placeholder{

    color: black;
    font-weight: 500;
    
}


.text-card{

    font-size: 25px;

}

.btn-add-carros{

    background-color: var(--contrast-color);
    padding: 5px;
    font-weight: bold;
    cursor: pointer;

}

.btn-principal{
    color:white;
    border: none;
    background-color: var(--dark-color);
    padding: 5px;
    font-size: 30px;
}

#att_cliente{

    display: none;
}

#form-att-cliente{
    display: none;

}